// Шрифты
$f-default: sans-serif;

// Цвета
$c-white: #ffffff;
$c-black: #222222;

// Контейнер
$container: 1260px;

// Отступы
$p-container: 30px;

// Медиавыражения
$desktop: 1599px;
$laptop: 1439px;
$laptop-small: 1279px;
$tablet: 1023px;
$phablet: 767px;
$mobile: 479px;
