.page {
	font-family: $f-default;
	color: $c-black;

	&__inner {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
}

.container {
	width: 100%;
	max-width: $container;
	padding: 0 $p-container;
	margin: 0 auto;
}